main/library/Importer/XMLimport.dtd

<!DOCTYPE import [

<!ELEMENT import (repository|set|hierarchy|group|agent)*>
<!ATTLIST import type (replace|insert|update) update>

<!ELEMENT repository (name, description, type, recordstructure*, asset*)>
<!ATTLIST repository id CDATA #IMPLIED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT type (domain, authority, keyword, description)>

<!ELEMENT domain (#PCDATA)>
<!ELEMENT authority (#PCDATA)>
<!ELEMENT keyword (#PCDATA)>

<!ELEMENT recordstructure (name, description, format, partstructure*)>
<!ATTLIST recordstructure
	id CDATA #IMPLIED
	xmlid ID #REQUIRED>

<!ELEMENT format (#PCDATA)>
<!ELEMENT partstructure (name, description, type)>
<!ATTLIST partstructure
	id CDATA #IMPLIED
	xmlid ID #REQUIRED
	isMandatory CDATA "FALSE"
	isRepeatable CDATA "FALSE"
	isPopulated CDATA "FALSE">

<!ELEMENT asset (name, description, type, (record|asset)*)>
<!ATTLIST asset
	id CDATA #IMPLIED>

<!ELEMENT record (part*)>
<!ATTLIST record
	id CDATA #IMPLIED
	xmlid IDREF #IMPLIED>

<!ELEMENT part (#PCDATA|part)*>
<!ATTLIST part
	id CDATA #IMPLIED
	xmlid IDREF #IMPLIED>

]>